/* td{
    word-break:break-all;
    text-shadow: 1px 1px gray;
    font-size: medium;
}

th{
    color: white;
    font-size: large;
    text-shadow: 2px 2px black;
} */

.student-list-container{
    background-color: white;
}

.btn{
    margin: 2px;
    padding: 8px;
}

@media all and (max-width: 475px) {
    td{
        font-size: 13px;
    }
}

.gap{
    height: 5vh;
}

.header, h4{
    color: yellow;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#ratingTitle{
    color: yellow;
}